<div class="top">
	<h3>Search</h3>
</div>

<form ng-submit="ctrl.search()">
	<input type="text" ng-model="ctrl.searchString">
	<input type="submit" value="Search for Movies">
</form>

<ul>
	<li ng-repeat="result in ctrl.searchResults">
		<a href="http://imdb.com/title/{{result.imdbID}}/">{{result.Title}}</a> ({{result.Year}})<br/>
		<img src="{{result.Poster}}" width=200px /><br/>
		<button ng-click="ctrl.addMovie(result.Title, result.imdbID, result.Year, result.Poster)">Add {{result.Title}} to your list!</button>
	</li>
</ul>