* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: floralwhite;
	color: red;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	left: 40vw;
	right: 40vw;
}

.top > div {
	display: inline-block;
}