* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: floralwhite;
	color: red;
	text-align: center;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
	color: #111;
}

header {
	width: 100vw;
	height: 13vh;
	background: red;
	color: #111;
	border-bottom: 2vh solid #111;
}

header a {
	color: #111;
}

footer {
	position: absolute;
	bottom: 0;
	left: 40vw;
	right: 40vw;
}

.top > div {
	display: inline-block;
}